aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
faiss-cpu
fastapi
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
h11
httpcore
httpx
huggingface-hub
idna
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-core
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
mdurl
mpmath
multidict
narwhals
networkx
numpy
ollama
orjson
packaging
pandas
pillow
propcache
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
python-dateutil
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
smmap
sniffio
SQLAlchemy
starlette
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
transformers
typing_extensions
tzdata
urllib3
uvicorn
watchdog
yarl
zstandard